body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #0472a1 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #fa6400 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0472a1 !important;
  border-color: #0472a1 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #023d56 !important;
  border-color: #023d56 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #023d56 !important;
  border-color: #023d56 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ed8e00 !important;
  border-color: #ed8e00 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a16000 !important;
  border-color: #a16000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a16000 !important;
  border-color: #a16000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fa6400 !important;
  border-color: #fa6400 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ae4500 !important;
  border-color: #ae4500 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ae4500 !important;
  border-color: #ae4500 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #022c3d;
  color: #022c3d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0472a1;
  border-color: #0472a1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0472a1 !important;
  border-color: #0472a1 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #875100;
  color: #875100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ed8e00;
  border-color: #ed8e00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed8e00 !important;
  border-color: #ed8e00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #943b00;
  color: #943b00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #fa6400;
  border-color: #fa6400;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fa6400 !important;
  border-color: #fa6400 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0472a1 !important;
}
.text-secondary {
  color: #ed8e00 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #fa6400 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #022c3d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #875100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #943b00 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #fa6400;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0472a1;
  border-color: #0472a1;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0472a1;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2bbcfa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffddc7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #0472a1;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0472a1;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0472a1;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0472a1;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0472a1;
  border-bottom-color: #0472a1;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0472a1 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ed8e00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230472a1' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s2a1wsXiIT .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s2a1wsXiIT .nav-item:focus,
.cid-s2a1wsXiIT .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-s2a1wsXiIT .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-s2a1wsXiIT .nav-item {
    position: relative;
  }
  .cid-s2a1wsXiIT .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #0472a1, #ed8e00);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-s2a1wsXiIT .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-s2a1wsXiIT .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s2a1wsXiIT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s2a1wsXiIT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s2a1wsXiIT .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s2a1wsXiIT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s2a1wsXiIT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s2a1wsXiIT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s2a1wsXiIT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s2a1wsXiIT .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
}
.cid-s2a1wsXiIT .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #ffffff;
}
.cid-s2a1wsXiIT .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-s2a1wsXiIT .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-s2a1wsXiIT .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: .5rem 1rem;
}
@media (max-width: 991px) {
  .cid-s2a1wsXiIT .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-s2a1wsXiIT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-s2a1wsXiIT .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s2a1wsXiIT .navbar.collapsed .navbar-collapse.show,
.cid-s2a1wsXiIT .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s2a1wsXiIT .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-s2a1wsXiIT .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-s2a1wsXiIT .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s2a1wsXiIT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s2a1wsXiIT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s2a1wsXiIT .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s2a1wsXiIT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s2a1wsXiIT .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s2a1wsXiIT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s2a1wsXiIT .navbar.collapsed .right-menu,
.cid-s2a1wsXiIT .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-s2a1wsXiIT .navbar .navbar-collapse.show,
  .cid-s2a1wsXiIT .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-s2a1wsXiIT .navbar .navbar-collapse.show .brand-container,
  .cid-s2a1wsXiIT .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-s2a1wsXiIT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s2a1wsXiIT .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s2a1wsXiIT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s2a1wsXiIT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s2a1wsXiIT .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s2a1wsXiIT .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s2a1wsXiIT .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s2a1wsXiIT .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-s2a1wsXiIT .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s2a1wsXiIT .navbar .right-menu,
  .cid-s2a1wsXiIT .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-s2a1wsXiIT .navbar.navbar-short {
  min-height: 60px;
}
.cid-s2a1wsXiIT .navbar.navbar-short .mbr-overlay {
  background: #ffffff !important;
}
.cid-s2a1wsXiIT .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s2a1wsXiIT .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s2a1wsXiIT .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s2a1wsXiIT .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s2a1wsXiIT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s2a1wsXiIT .dropdown-item.active,
.cid-s2a1wsXiIT .dropdown-item:active {
  background-color: transparent;
}
.cid-s2a1wsXiIT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s2a1wsXiIT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s2a1wsXiIT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s2a1wsXiIT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s2a1wsXiIT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s2a1wsXiIT .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s2a1wsXiIT ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-s2a1wsXiIT ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-s2a1wsXiIT .navbar-buttons {
  margin-left: auto;
}
.cid-s2a1wsXiIT button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s2a1wsXiIT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-s2a1wsXiIT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s2a1wsXiIT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s2a1wsXiIT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s2a1wsXiIT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s2a1wsXiIT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2a1wsXiIT nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-s2a1wsXiIT nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-s2a1wsXiIT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s2a1wsXiIT .navbar-dropdown {
  position: fixed;
}
.cid-s2a1wsXiIT a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s2a1wsXiIT .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s2a1wsXiIT .right-menu,
.cid-s2a1wsXiIT .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-s2a1wsXiIT .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s2a1wsXiIT .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s2a1wsXiIT .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-s2a1wsXiIT .menu-top {
  text-align: center;
  width: 100%;
  background-color: #fe525b;
  padding: .5rem 0;
}
.cid-s2a1wsXiIT .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-s2a1wsXiIT .card-wrapper {
  z-index: 3;
}
.cid-s2a1wsXiIT .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-s2a1wsXiIT .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s2a1wsXiIT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s250I4x9zW {
  background-image: url("../../../assets/images/77-yewgarden-1984x1488.jpg");
}
.cid-s250I4x9zW .mbr-section-subtitle {
  letter-spacing: .2rem;
}
.cid-s250I4x9zW .media-container-column {
  background-color: #0472a1;
}
@media (max-width: 767px) {
  .cid-s250I4x9zW .media-container-column {
    padding: 1rem !important;
  }
}
.cid-s25DjW1oje {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s25DjW1oje P {
  color: #767676;
}
.cid-s25AgleMwD {
  padding-top: 15px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-s25AgleMwD .images-container.container-fluid {
  padding: 0;
}
.cid-s25AgleMwD .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-s25AgleMwD .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-s25AgleMwD .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-s25AgleMwD .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-s25AgleMwD .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-s25AgleMwD .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-s25AgleMwD .img-item {
    width: 100% !important;
  }
  .cid-s25AgleMwD .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-s2a9XI5dlZ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s2a9XI5dlZ img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.cid-s2a9XI5dlZ .wrapper:before {
  content: '';
  display: block;
  position: absolute;
  transition: opacity 0.0s;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
  background-color: #ffffff;
  opacity: 0.0;
  pointer-events: none;
}
.cid-s2a9XI5dlZ .row > div {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
.cid-s2a9XI5dlZ .row > div:hover .wrapper:before {
  opacity: 0.2;
}
@media (max-width: 767px) {
  .cid-s2a9XI5dlZ .wrapper:before {
    opacity: 0.2;
  }
}
.cid-s2aaRSBdO6 {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(90deg, #68c4ed, #0472a1);
}
.cid-s2aaRSBdO6 .mbr-overlay {
  background: linear-gradient(90deg, #1dc8cc, #188ef4);
}
.cid-s2aaRSBdO6 .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s2aaRSBdO6 .card-wrap {
  background-color: #ffffff;
  padding: 2rem;
  width: calc(100% + 10rem);
  margin-left: -10rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-s2aaRSBdO6 .img-wrap img {
  width: 100%;
  border-radius: .25rem;
}
@media (max-width: 991px) {
  .cid-s2aaRSBdO6 .card-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.cid-s2ag525Dj8 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s2ag525Dj8 .mbr-section-subtitle {
  color: #767676;
}
.cid-s25jQU9jx0 {
  padding-top: 90px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/-mg-3044-2000x1334.jpeg");
  background-position: right;
}
.cid-s25jQU9jx0 .wrapper {
  position: relative;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  padding: 2.5rem 2.5rem;
}
.cid-s25jQU9jx0 .wrapper:before {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 0;
  width: calc(90% - 130px);
  height: 3px;
  right: 0;
}
.cid-s25jQU9jx0 .wrapper:after {
  content: "";
  background: #ffffff;
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 3px;
  left: 0;
}
.cid-s25jQU9jx0 img {
  position: absolute;
  left: 10%;
  bottom: -45px;
  width: 130px;
}
@media (max-width: 767px) {
  .cid-s25jQU9jx0 .wrapper {
    padding: 1rem 1.5rem;
  }
}
#custom-html-2 {
  /* Type valid CSS here */
}
#custom-html-2 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-2 p {
  font-size: 60px;
  color: #777;
}
.cid-s29HYnnfJB {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s29HYnnfJB .mbr-section-subtitle {
  color: #767676;
}
.cid-s25crIxvDk {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/-mg-6902-2000x1303.jpg");
}
.cid-s25crIxvDk .mbr-section-title {
  letter-spacing: .1em;
}
.cid-s25crIxvDk .mbr-text {
  letter-spacing: 0.03rem;
}
.cid-s25crIxvDk .card-img span {
  font-size: 100px;
}
.cid-s25crIxvDk .mbr-text,
.cid-s25crIxvDk .mbr-section-btn {
  color: #efefef;
}
#custom-html-19 {
  /* Type valid CSS here */
}
#custom-html-19 div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-19 p {
  font-size: 60px;
  color: #777;
}
.cid-s2acM98CoT {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s2acM98CoT img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.cid-s2acM98CoT .wrapper:before {
  content: '';
  display: block;
  position: absolute;
  transition: opacity 0.0s;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
  background-color: #ffffff;
  opacity: 0.0;
  pointer-events: none;
}
.cid-s2acM98CoT .row > div {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
.cid-s2acM98CoT .row > div:hover .wrapper:before {
  opacity: 0.2;
}
@media (max-width: 767px) {
  .cid-s2acM98CoT .wrapper:before {
    opacity: 0.2;
  }
}
.cid-sAuJ1kXTYU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #1d1d1d;
}
.cid-sAuJ1kXTYU .content__block {
  padding: 50px 15px;
}
.cid-sAuJ1kXTYU .circle:after {
  content: '•';
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  margin-top: -2px;
  color: #0472a1;
  margin-left: 4px;
  margin-right: 4px;
}
.cid-sAuJ1kXTYU .mbr-section-subtitle {
  margin-bottom: 20px;
}
.cid-sAuJ1kXTYU .mbr-text {
  opacity: 0.6;
  margin-bottom: 25px;
}
.cid-sAuJ1kXTYU .image {
  perspective: 3500px;
  position: relative;
}
.cid-sAuJ1kXTYU .image:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  right: -1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(29, 29, 29, 0.99));
  z-index: 1;
  pointer-events: none;
}
.cid-sAuJ1kXTYU .image img {
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sAuJ1kXTYU .mbr-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 20px;
  border: none !important;
  background-color: transparent !important;
}
.cid-sAuJ1kXTYU .mbr-section-btn .btn-white-outline:hover {
  color: #0472a1 !important;
}
@media (max-width: 991px) {
  .cid-sAuJ1kXTYU .content__block {
    padding: 30px 15px;
  }
  .cid-sAuJ1kXTYU .mbr-figure {
    padding: 0;
  }
  .cid-sAuJ1kXTYU .image:before {
    width: 100%;
    height: 50%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(29, 29, 29, 0.99));
  }
}
@media (min-width: 992px) {
  .cid-sAuJ1kXTYU .lg-push {
    right: 13%;
  }
  .cid-sAuJ1kXTYU .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .cid-sAuJ1kXTYU .row:hover .image img {
    transform: rotateY(8deg);
  }
}
.cid-sAuJ1kXTYU .btn:hover .mbr-iconfont {
  animation: animBtn ease-out 0.3s;
}
@keyframes animBtn {
  0% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(20px);
    opacity: 1;
  }
  52% {
    opacity: 0;
    transform: translateX(-20px);
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
.cid-sAuJ1kXTYU .mbr-text,
.cid-sAuJ1kXTYU .mbr-section-btn {
  color: #ffffff;
}
